bower_components
node_modules
build
storage
coverage

yarn.lock
package-lock.json
yarn-error.log
.idea
.vscode
verdaccio.log

screenshots

test/e2e/selenium/.gradle/
test/e2e/selenium/gradle/
test/e2e/selenium/gradlew
test/e2e/selenium/gradlew.bat

test/e2e/selenium/bin/
test/e2e/selenium/out/

theme-designer-data/wip

